.add {
  color: #000;

  display: flex;
  flex-direction: column;
  align-items: center;
  &__input {
    font-size: 1.8rem;
    margin: 4rem 4rem 0 4rem;
    border: 1px #000 solid;
  }

  &__example {
    color: inherit;
    font-size: 2rem;
  }

  &__submit {
    font-size: 2rem;
    width: fit-content;
    background-color: #68e426;
    margin: 2rem auto;
    border-radius: 10px;
    cursor: pointer;
  }

  &__submit,
  &__input {
    padding: 1rem;

    &:focus {
      outline: 1px #2383d7 solid;
    }
  }

  &__note {
    padding: 1rem;
    line-height: 1.3;
  }
}

.add-audio-window {
  width: 30%;
  max-height: 70rem;
  max-width: 80rem;
  min-height: 30rem;
  min-width: 35rem;
  background-color: #fff;
  border-radius: 10px;
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn--close-modal {
  font-family: 2rem;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 1.6rem;
  font-size: 3.5rem;
  cursor: pointer;
  border: none;
  background: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.add-new-audio {
  font-size: 1.8rem;
  margin: 1rem 0;
}

.clear-audios {
  color: $color-red;
}

.add-new-audio,
.clear-audios {
  cursor: pointer;
}
