* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #777;
  font-family: "Cairo", sans-serif;
}

.container {
  margin: 0 auto;
}

@media only screen and (max-width: 23.75em) {
  html {
    font-size: 50%;
  }
}

.radio {
  width: 35rem;
  height: 22rem;
  background-color: #333;
  margin-top: 1rem;
  padding: 3rem;
  border-radius: 10px;
  position: relative;
}
.radio__bookmark-btn {
  font-size: 2rem;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.8rem;
  cursor: pointer;
}
.radio__inner_1 {
  width: 100%;
  height: 80%;
  background-color: gold;
  border-radius: inherit;
  padding-top: 1rem;
}
.radio__inner_1-header {
  color: #fff;
  background-color: #cacaca;
  border-radius: 60px;
  height: 50%;
  display: flex;
  justify-content: space-between;
}
.radio__inner_1-header-spinner {
  font-size: 5rem;
  color: #fff;
  padding: 0 2rem;
  z-index: 1;
  display: flex;
  align-items: center;
  position: relative;
}
.radio__inner_1-header-spinner::before {
  content: "";
  position: absolute;
  width: 5.6rem;
  height: 5.6rem;
  padding: 0.8rem;
  background-color: black;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}
.radio__inner_1-header-title {
  color: #333;
  align-self: center;
}
.radio__inner_1-buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
.radio__inner_1-buttons button {
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}
.radio__inner_1-buttons button .playpause {
  width: 1.8rem;
  height: 1.8rem;
}
.radio__inner_1-buttons :nth-child(2) {
  font-size: 3rem;
}
.radio__inner_2 {
  color: #fff;
  width: 60%;
  height: 0;
  border-bottom: 40px solid #4b4b4b;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  display: flex;
  justify-content: space-between;
}
.radio__inner_2 .left-side, .radio__inner_2 .right-side {
  height: 2rem;
  opacity: 0.6;
  display: flex;
  gap: 0.5rem;
  align-items: end;
}
.radio__inner_2 .left-side-1, .radio__inner_2 .left-side-2, .radio__inner_2 .right-side-1, .radio__inner_2 .right-side-2 {
  background-color: #cacaca;
  border-radius: 50%;
}
.radio__inner_2 .left-side-1, .radio__inner_2 .right-side-1 {
  width: 1.5rem;
  height: 1.5rem;
}
.radio__inner_2 .left-side-2, .radio__inner_2 .right-side-2 {
  width: 1rem;
  height: 1rem;
}
.radio__inner_2 .right-side-1 {
  order: 2;
}
.radio__inner_2 .middle {
  display: grid;
  justify-items: center;
}
.radio__inner_2 .middle__video-length {
  display: flex;
}
.radio__inner_2 .middle__video-length p {
  font-size: 1.4rem;
}
.radio__inner_2 .middle #progress {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background-color: rgb(169, 201, 222);
  border-radius: 20px;
}
.radio__inner_2 .middle #progress::-webkit-slider-thumb, .radio__inner_2 .middle #progress::-moz-range-thumb {
  -webkit-appearance: none;
  border: none;
  outline: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(61, 161, 227);
}