* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #4c8077;
  font-family: "Cairo", sans-serif;
}

.container {
  margin: 0 auto;
}

button {
  color: inherit;
  background: none;
  border: none;
}

@media only screen and (max-width: 23.75em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 40.625em) {
  .lists {
    flex-direction: column;
    gap: 3rem;
    align-items: center !important;
  }
}

.radio {
  width: 35rem;
  height: 22rem;
  background-color: #333;
  margin-top: 1rem;
  padding: 3rem;
  border-radius: 10px;
  position: relative;
}
.radio__bookmark-btn {
  font-size: 2rem;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.8rem;
  cursor: pointer;
}
.radio__inner_1 {
  width: 100%;
  height: 80%;
  background-color: gold;
  border-radius: inherit;
  padding-top: 1rem;
}
.radio__inner_1-header {
  color: #fff;
  background-color: #cacaca;
  border-radius: 60px;
  height: 50%;
  display: flex;
  justify-content: space-between;
}
.radio__inner_1-header-spinner {
  font-size: 5rem;
  color: #fff;
  padding: 0 2rem;
  z-index: 1;
  display: flex;
  align-items: center;
  position: relative;
}
.radio__inner_1-header-spinner::before {
  content: "";
  position: absolute;
  width: 5.6rem;
  height: 5.6rem;
  padding: 0.8rem;
  background-color: black;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}
.radio__inner_1-header-title {
  color: #333;
  align-self: center;
  text-align: center;
  line-height: 1.2;
}
.radio__inner_1-buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
.radio__inner_1-buttons button {
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}
.radio__inner_1-buttons button .playpause {
  width: 1.8rem;
  height: 1.8rem;
}
.radio__inner_1-buttons :nth-child(2) {
  font-size: 3rem;
}
.radio__inner_2 {
  color: #fff;
  width: 60%;
  height: 0;
  border-bottom: 40px solid #4b4b4b;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  display: flex;
  justify-content: space-between;
}
.radio__inner_2 .left-side, .radio__inner_2 .right-side {
  height: 2rem;
  opacity: 0.6;
  display: flex;
  gap: 0.5rem;
  align-items: end;
}
.radio__inner_2 .left-side-1, .radio__inner_2 .left-side-2, .radio__inner_2 .right-side-1, .radio__inner_2 .right-side-2 {
  background-color: #cacaca;
  border-radius: 50%;
}
.radio__inner_2 .left-side-1, .radio__inner_2 .right-side-1 {
  width: 1.5rem;
  height: 1.5rem;
}
.radio__inner_2 .left-side-2, .radio__inner_2 .right-side-2 {
  width: 1rem;
  height: 1rem;
}
.radio__inner_2 .right-side-1 {
  order: 2;
}
.radio__inner_2 .middle {
  display: grid;
  justify-items: center;
}
.radio__inner_2 .middle__video-length {
  display: flex;
}
.radio__inner_2 .middle__video-length p {
  font-size: 1.4rem;
}
.radio__inner_2 .middle #progress {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background-color: rgb(169, 201, 222);
  border-radius: 20px;
}
.radio__inner_2 .middle #progress::-webkit-slider-thumb, .radio__inner_2 .middle #progress::-moz-range-thumb {
  -webkit-appearance: none;
  border: none;
  outline: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(61, 161, 227);
}

.cassettes {
  width: 100%;
  margin-top: 2rem;
  padding: 0 5rem;
  list-style: none;
  display: flex;
  gap: 5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.cassette-selected {
  filter: none !important;
  transform: scale(1.03) !important;
}

.cassette {
  width: 25rem;
  height: 15rem;
  z-index: 2;
  border-radius: 0.5rem;
  background: #231f23;
  cursor: pointer;
  filter: grayscale(0.5);
  transition: all 0.2s;
  position: relative;
}
.cassette:hover {
  filter: grayscale(0);
  transform: scale(1.03);
}
.cassette:active {
  transform: scale(1.02);
}
.cassette:before, .cassette:after {
  content: "";
  position: absolute;
  background: #8b8681;
  color: #231f23;
  border-radius: 100%;
  width: 0.5rem;
  height: 0.5rem;
  left: 0.5rem;
}
.cassette:before {
  top: 1rem;
}
.cassette:after {
  bottom: 1rem;
}

.cassette__label {
  height: 65%;
  position: relative;
  width: auto;
  background: linear-gradient(#faedda 50%, #e9802f 50%);
  margin: 1.5rem;
  left: 0;
  border-radius: 0.5rem;
}
.cassette__label:before, .cassette__label:after {
  content: "";
  position: absolute;
  background: #8b8681;
  color: #231f23;
  border-radius: 100%;
  width: 0.5rem;
  height: 0.5rem;
  right: -1rem;
}
.cassette__label:before {
  top: -0.5rem;
}
.cassette__label:after {
  bottom: -2.5rem;
}

.cassette__details {
  display: flex;
  align-items: flex-start;
  margin: 1rem;
}

.cassette__side {
  text-transform: uppercase;
  font-size: 2.2rem;
  margin-top: 0.5rem;
}

.cassette__info {
  width: 85%;
  margin-left: auto;
}

.cassette__lines {
  height: 0.1rem;
  background: #a69ba6;
  margin-top: 2rem;
  position: relative;
}
.cassette__lines:before, .cassette__lines:after {
  content: "";
  height: 0.1rem;
  width: 100%;
  background: #a69ba6;
  position: absolute;
}
.cassette__lines:before {
  top: -1rem;
}
.cassette__lines:after {
  top: 1rem;
}

.cassette__block {
  display: flex;
  flex-direction: column;
  position: relative;
}
.cassette__block-title {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 40;
  font-family: "Gochi Hand", cursive;
  font-weight: 400;
}

.cassette__spool {
  width: 85%;
  background: #231f23;
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  margin-top: 1.8rem;
}

.cassette__circle {
  border-radius: 100%;
  background: #8b8681;
  width: 2.8rem;
  height: 2.8rem;
  position: relative;
}
.cassette__circle:before {
  content: "";
  border-radius: 100%;
  background: #fff;
  width: 2.2rem;
  height: 2.2rem;
  position: absolute;
  left: 0.3rem;
  top: 0.3rem;
}

.cassette__wire {
  background: #fff;
  width: 4rem;
  border-radius: 0.1rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}
.cassette__wire img {
  width: 100%;
  height: 4rem;
  transform: scale(1.4);
}

.cassette__mechanics {
  width: 60%;
  border: 0.1rem solid #8b8681;
  height: 3rem;
  border-bottom: none;
  margin: 0 auto;
  position: relative;
  bottom: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.live {
  position: relative;
}
.live::after {
  content: "LIVE";
  color: #fff;
  font-size: 1.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate3d(-50%, -50%, 0);
}

.cassette__tuning {
  border-radius: 100%;
  width: 1rem;
  height: 1rem;
  background: #fff;
  position: relative;
  margin-bottom: -0.5rem;
}
.cassette__tuning:before {
  content: "";
  width: 0.6rem;
  height: 0.5rem;
  background: #fff;
  position: absolute;
}
.cassette__tuning:before {
  left: 2rem;
  border-radius: 0.1rem;
}
.cassette__tuning:nth-child(2) {
  transform: rotate(180deg);
}
.cassette__tuning:nth-child(2):before {
  bottom: 0;
}

.lists {
  width: 100%;
  margin-top: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.list {
  color: #fff;
  background-color: black;
  width: 30rem;
  margin: 0 5rem;
  padding: 1rem;
  border-radius: 20px;
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.list__header {
  line-height: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list__header-arrow {
  font-size: 1.5rem;
}
.list__audios {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.list__audios-item {
  font-size: 1.7rem;
  width: 100%;
  padding: 0.5rem 0;
  line-height: 1.2;
  border: 1px solid transparent;
  border-left: transparent;
  border-right: transparent;
  cursor: pointer;
  word-break: break-all;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  transition: all 0.2s;
}
.list__audios-item:hover {
  border-color: #fff;
}
.list__audios-item-buttons {
  display: flex;
  gap: 1rem;
}
.list__audios-item-buttons button {
  font-size: 1.7rem;
  cursor: pointer;
}
.list__audios-item-delete:hover {
  color: red;
}
.list-hidden {
  height: 0;
  visibility: hidden;
  opacity: 0;
}