$body-color: #4c8077;

$player-color-inner: gold;
$player-color: #333;

$cassette-color-primary: #231f23;
$cassette-color-secondary: #e9802f;

$color-red: rgb(255, 0, 0);

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: $body-color;
  font-family: "Cairo", sans-serif;
}

.container {
  margin: 0 auto;
}

button {
  color: inherit;
  background: none;
  border: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
