@mixin respond($breakpoint) {
  @if $breakpoint == 650 {
    @media only screen and (max-width: 40.625em) {
      @content;
    }
  }

  @if $breakpoint == 380 {
    @media only screen and (max-width: 23.75em) {
      @content;
    }
  }
}

html {
  @include respond(380) {
    font-size: 50%;
  }
}

.lists {
  @include respond(650) {
    flex-direction: column;
    gap: 3rem;
    align-items: center !important;
  }
}
